{% extends 'base.html' %}

{% block content %}
<section>
    <div class="talks content row padding-botton-3 desktop-12 container">
        <h2>Manhã</h2>
        {% for talk in morning_talks %}
        {% include 'core/talk_list_snippet.html' with talk=talk only %}
        {% empty %}
        <p>Ainda não existe palestra de manhã.</p>
        {% endfor %}


        <h2>Tarde</h2>
        {% for talk in afternoon_talks %}
        {% include 'core/talk_list_snippet.html' with talk=talk only %}
        {% empty %}
        <p>Ainda não existe palestra de tarde.</p>
        {% endfor %}

        <h2>Mini-cursos</h2>
        {% for course in courses %}
        {% include 'core/talk_list_snippet.html' with talk=course only %}
        {% endfor %}

    </div>
</section>


{% endblock content %}