<h3>{{ talk.start }} - {{ talk.title }}</h3>
<h4>Por
    {% for speaker in talk.speakers.all %}
    <a href="{{speaker.get_absolute_url}}">{{ speaker.name }}</a>
    {% endfor %}
</h4>
<p>{{ talk.description }}</p>