{% extends 'base.html' %}

{% block content %}
<!-- OVERVIEW -->
        <section>
            <div class="content row padding-bottom-3 desktop-12 container">
                <h1>Formulário de Inscrição</h1>
                <div class="desktop-6">
                    <form action="." novalidate method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-row label-block input-text">
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                            {{ form.name.errors }}
                            {{ form.name }}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
                            {{ form.cpf.errors }}
                            {{ form.cpf }}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            {{ form.email.errors }}
                            {{ form.email }}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                            {{ form.phone.errors }}
                            {{ form.phone }}
                        </div>
                        <p class="btn-row"><input type="submit" value="Enviar!"/></p>
                    </form>
                </div>
            </div>
        </section>
{% endblock content %}




















































