{% extends base.html %}
{% block title%}404. Página não encontrada{% endblock title %}

{% block content%}
<--OVERVIEW -->
<section>
	<div class="content row padding-bottom-3 desktop-12 container">

    	<h1>404</h1>
        <h2>Página não encontrada</h2>
        <div class="desktop-6">
            <p>O endereço que você solicitou não existe.</p>
        </div>
    </div>
</section>
{% endblock content%}

#parei 22:31

















































