{% extends 'base.html'%}
{% block title%}500. Erro interno inesperado{% endblock title%}
{% block content%}
<!-- OVERVIEW -->
        <section>
        	<div class="content row padding-bottom-3 desktop-12 container">

            	<h1>500</h1>
                <h2>Erro interno inesperado</h2>
                <div class="desktop-6">
                    <p>Desculpe. Ocorreu um erro inesperado.</p>
                    <p>Nossa equipe já foi notificada do problema.<br />
                       Caso necessário entre em contato com <a href="mailto:suporte@eventex.com.br?subject=500 Erro interno inesperado">suporte@eventex.com.br</a></p>
                </div>
            </div>
        </section>
{% endblock content%}


    </body>
</html>
