 <header class="header header-inline min-h-3 row desktop-12 container" role="banner">

                <div class="site-logo">
                    <h1><a href="{% url 'home' %}" rel="home">Eventex</h1>
                    <p class="site-description screen-reader-only">O maior encontro hacker do mundo!</p>
                </div>

                <nav class="nav-inline" role="navigation">
                    <a href="javascript:void(0);" class="nav-mobile"><i class="fa fa-bars"></i></a>
                    <ul>
                        <li><a data-scroll href="{% url 'home' %}#overview">Conferência</a></li>
                        <li><a data-scroll href="{% url 'talk_list' %}">Palestras</a></li>
                        <li><a data-scroll href="{% url 'home' %}#speakers">Palestrantes</a></li>
                        <li><a data-scroll href="{% url 'home' %}#sponsors">Patrocinadores</a></li>
                        <li><a data-scroll href="{% url 'home' %}#register">Inscrição</a></li>
                        <li><a data-scroll href="{% url 'home' %}#venue">Local</a></li>
                    </ul>
                </nav>

            </header>